.main-icon {
  width: 400px;
  height: 400px;
  background-image: url(./assets/images/pageIndex.png);
  background-size: cover;
}

.sec-icon {
  width: 400px;
  height: 400px;
  background-image: url(./assets/images/pageTodo.png);
  background-size: cover;
}

.logo-icon {
  transform: rotate(-15deg);
}